<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.mapper.RegistrationDetailForWebMapper">
    
    <resultMap type="RegistrationDetailForWeb" id="RegistrationDetailForWebResult">
        <result property="id"    column="id"    />
        <result property="masterId"    column="master_id"    />
        <result property="studentId"    column="student_id"    />
        <result property="name"    column="name"    />
        <result property="gender"    column="gender"    />
        <result property="idCardNumber"    column="id_card_number"    />
        <result property="project1"    column="project1"    />
        <result property="project2"    column="project2"    />
        <result property="relayRace"    column="relay_race"    />
        <result property="relayRace2"    column="relay_race2"    />
        <result property="email"    column="email"    />
        <result property="phoneNumber"    column="phone_number"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectRegistrationDetailForWebVo">
        select id, master_id, student_id, name, gender, id_card_number, project1, project2, relay_race, relay_race2, email, phone_number, remark from registration_detail
    </sql>

    <select id="selectRegistrationDetailForWebList" parameterType="RegistrationDetailForWeb" resultMap="RegistrationDetailForWebResult">
        <include refid="selectRegistrationDetailForWebVo"/>
        <where>  
            <if test="masterId != null "> and master_id = #{masterId}</if>
            <if test="studentId != null  and studentId != ''"> and student_id = #{studentId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="gender != null  and gender != ''"> and gender = #{gender}</if>
            <if test="idCardNumber != null  and idCardNumber != ''"> and id_card_number = #{idCardNumber}</if>
            <if test="project1 != null  and project1 != ''"> and project1 = #{project1}</if>
            <if test="project2 != null  and project2 != ''"> and project2 = #{project2}</if>
            <if test="relayRace != null  and relayRace != ''"> and relay_race = #{relayRace}</if>
            <if test="relayRace2 != null  and relayRace2 != ''"> and relay_race2 = #{relayRace2}</if>
            <if test="email != null  and email != ''"> and email = #{email}</if>
            <if test="phoneNumber != null "> and phone_number = #{phoneNumber}</if>
        </where>
    </select>
    
    <select id="selectRegistrationDetailForWebById" parameterType="Long" resultMap="RegistrationDetailForWebResult">
        <include refid="selectRegistrationDetailForWebVo"/>
        where id = #{id}
    </select>

    <select id="selectRegistrationDetailForWebByEmail" parameterType="String" resultMap="RegistrationDetailForWebResult">
        <include refid="selectRegistrationDetailForWebVo"/>
        where email = #{email}
    </select>
        
    <insert id="insertRegistrationDetailForWeb" parameterType="RegistrationDetailForWeb" useGeneratedKeys="true" keyProperty="id">
        insert into registration_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="masterId != null">master_id,</if>
            <if test="studentId != null and studentId != ''">student_id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="gender != null and gender != ''">gender,</if>
            <if test="idCardNumber != null and idCardNumber != ''">id_card_number,</if>
            <if test="project1 != null and project1 != ''">project1,</if>
            <if test="project2 != null and project2 != ''">project2,</if>
            <if test="relayRace != null and relayRace != ''">relay_race,</if>
            <if test="relayRace2 != null">relay_race2,</if>
            <if test="email != null and email != ''">email,</if>
            <if test="phoneNumber != null">phone_number,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="masterId != null">#{masterId},</if>
            <if test="studentId != null and studentId != ''">#{studentId},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="gender != null and gender != ''">#{gender},</if>
            <if test="idCardNumber != null and idCardNumber != ''">#{idCardNumber},</if>
            <if test="project1 != null and project1 != ''">#{project1},</if>
            <if test="project2 != null and project2 != ''">#{project2},</if>
            <if test="relayRace != null and relayRace != ''">#{relayRace},</if>
            <if test="relayRace2 != null">#{relayRace2},</if>
            <if test="email != null and email != ''">#{email},</if>
            <if test="phoneNumber != null">#{phoneNumber},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateRegistrationDetailForWeb" parameterType="RegistrationDetailForWeb">
        update registration_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="masterId != null">master_id = #{masterId},</if>
            <if test="studentId != null and studentId != ''">student_id = #{studentId},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="gender != null and gender != ''">gender = #{gender},</if>
            <if test="idCardNumber != null and idCardNumber != ''">id_card_number = #{idCardNumber},</if>
            <if test="project1 != null and project1 != ''">project1 = #{project1},</if>
            <if test="project2 != null and project2 != ''">project2 = #{project2},</if>
            <if test="relayRace != null and relayRace != ''">relay_race = #{relayRace},</if>
            <if test="relayRace2 != null">relay_race2 = #{relayRace2},</if>
            <if test="email != null and email != ''">email = #{email},</if>
            <if test="phoneNumber != null">phone_number = #{phoneNumber},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>
    
    <update id="updateRegistrationDetailForWebByEmail" parameterType="RegistrationDetailForWeb">
        update registration_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="masterId != null">master_id = #{masterId},</if>
            <if test="studentId != null and studentId != ''">student_id = #{studentId},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="gender != null and gender != ''">gender = #{gender},</if>
            <if test="idCardNumber != null and idCardNumber != ''">id_card_number = #{idCardNumber},</if>
            <if test="project1 != null and project1 != ''">project1 = #{project1},</if>
            <if test="project2 != null and project2 != ''">project2 = #{project2},</if>
            <if test="relayRace != null and relayRace != ''">relay_race = #{relayRace},</if>
            <if test="relayRace2 != null">relay_race2 = #{relayRace2},</if>
            <if test="email != null and email != ''">email = #{email},</if>
            <if test="phoneNumber != null">phone_number = #{phoneNumber},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where email = #{email}
    </update>

    <delete id="deleteRegistrationDetailForWebById" parameterType="Long">
        delete from registration_detail where id = #{id}
    </delete>

    <delete id="deleteRegistrationDetailForWebByEmail" parameterType="String">
        delete from registration_detail where email = #{email}
    </delete>

    <delete id="deleteRegistrationDetailForWebByIds" parameterType="String">
        delete from registration_detail where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>